<form [formGroup]="loginForm" (ngSubmit)='login()'>

    <div>
        <label for="email">Email</label>
        <input type="text" formControlName="email" />
        <span name="email" id="name-error"></span>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="text" formControlName="password" />
        <span name="password" id="password-error"></span>
    </div>

    <div>
        <label for="rememberMe">Remember Me
            <input type="checkbox" formControlName="rememberMe"></label>
    </div>
    <button type="submit">Login</button>
    <a class="btn btn-primary" href="/register">Do not have an account? Register</a>
    <a class="btn btn-warning" href="/forgot-password">Forgot Password?</a>
</form>